In [2]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import date, time
from datetime import datetime as dt

In [3]:
df2022_1 = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_220604.txt')
df2022_2 = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_220611.txt')
df2022_3 = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_220618.txt')
df2022_4 = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_220625.txt')
df2022_5 = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_220702.txt')

df2019_1 = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_190601.txt')
df2019_2 = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_190608.txt')
df2019_3 = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_190615.txt')
df2019_4 = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_190622.txt')
df2019_5 = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_190629.txt')

df2022 = pd.concat([df2022_1 ,df2022_2, df2022_3, df2022_4, df2022_5], ignore_index=True)
df2019 = pd.concat([df2019_1 ,df2019_2, df2019_3, df2019_4, df2019_5], ignore_index=True)

In [5]:
df2019.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/25/2019,00:00:00,REGULAR,7071830,2396411
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/25/2019,04:00:00,REGULAR,7071844,2396415
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/25/2019,08:00:00,REGULAR,7071864,2396443
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/25/2019,12:00:00,REGULAR,7071943,2396500
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/25/2019,16:00:00,REGULAR,7072182,2396555

In [6]:
df2022.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/28/2022,00:00:00,REGULAR,7717669,2709039
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/28/2022,04:00:00,REGULAR,7717677,2709047
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/28/2022,08:00:00,REGULAR,7717692,2709080
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/28/2022,12:00:00,REGULAR,7717724,2709155
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/28/2022,16:00:00,REGULAR,7717838,2709208

In [7]:
df2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1027180 entries, 0 to 1027179
Data columns (total 11 columns):
 #   Column                                                                Non-Null Count    Dtype
---  ------                                                                --------------    -----
 0   C/A                                                                   1027180 non-null  object
 1   UNIT                                                                  1027180 non-null  object
 2   SCP                                                                   1027180 non-null  object
 3   STATION                                                               1027180 non-null  object
 4   LINENAME                                                              1027180 non-null  object
 5   DIVISION                                                              1027180 non-null  object
 6   DATE                                                                  1027180 non-null  object
 7   TIME                                                                  1027180 non-null  object
 8   DESC                                                                  1027180 non-null  object
 9   ENTRIES                                                               1027180 non-null  int64
 10  EXITS                                                                 1027180 non-null  int64
dtypes: int64(2), object(9)
memory usage: 86.2+ MB

In [8]:
df2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1057684 entries, 0 to 1057683
Data columns (total 11 columns):
 #   Column                                                                Non-Null Count    Dtype
---  ------                                                                --------------    -----
 0   C/A                                                                   1057684 non-null  object
 1   UNIT                                                                  1057684 non-null  object
 2   SCP                                                                   1057684 non-null  object
 3   STATION                                                               1057684 non-null  object
 4   LINENAME                                                              1057684 non-null  object
 5   DIVISION                                                              1057684 non-null  object
 6   DATE                                                                  1057684 non-null  object
 7   TIME                                                                  1057684 non-null  object
 8   DESC                                                                  1057684 non-null  object
 9   ENTRIES                                                               1057684 non-null  int64
 10  EXITS                                                                 1057684 non-null  int64
dtypes: int64(2), object(9)
memory usage: 88.8+ MB

In [9]:
df2019.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [10]:
df2019.rename(columns={'EXITS                                                               ':'EXITS'}, inplace=True)

In [15]:
df2019.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES', 'EXITS'],
      dtype='object')

In [13]:
df2022.rename(columns={'EXITS                                                               ':'EXITS'}, inplace=True)

In [14]:
df2019.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES', 'EXITS'],
      dtype='object')

In [31]:
datetimes2019 = pd.to_datetime(df2019["DATE"] + " " + df2019["TIME"])
df2019.insert(loc = 4, column = 'DATETIME', value = datetimes2019)

In [32]:
datetimes2022 = pd.to_datetime(df2022["DATE"] + " " + df2022["TIME"])
df2022.insert(loc = 4, column = "DATETIME", value = datetimes2022)

In [33]:
df2019

,C/A,UNIT,SCP,STATION,DATETIME,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,2019-05-25 00:00:00,NQR456W,BMT,05/25/2019,00:00:00,REGULAR,7071830,2396411
1,A002,R051,02-00-00,59 ST,2019-05-25 04:00:00,NQR456W,BMT,05/25/2019,04:00:00,REGULAR,7071844,2396415
2,A002,R051,02-00-00,59 ST,2019-05-25 08:00:00,NQR456W,BMT,05/25/2019,08:00:00,REGULAR,7071864,2396443
3,A002,R051,02-00-00,59 ST,2019-05-25 12:00:00,NQR456W,BMT,05/25/2019,12:00:00,REGULAR,7071943,2396500
4,A002,R051,02-00-00,59 ST,2019-05-25 16:00:00,NQR456W,BMT,05/25/2019,16:00:00,REGULAR,7072182,2396555
...,...,...,...,...,...,...,...,...,...,...,...,...
1027175,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2019-06-28 05:00:00,R,RIT,06/28/2019,05:00:00,REGULAR,5554,379
1027176,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2019-06-28 09:00:00,R,RIT,06/28/2019,09:00:00,REGULAR,5554,379
1027177,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2019-06-28 13:00:00,R,RIT,06/28/2019,13:00:00,REGULAR,5554,379
1027178,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2019-06-28 17:00:00,R,RIT,06/28/2019,17:00:00,REGULAR,5554,379
1027179,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2019-06-28 21:00:00,R,RIT,06/28/2019,21:00:00,REGULAR,5554,379

In [35]:
df2022

,C/A,UNIT,SCP,STATION,DATETIME,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,2022-05-28 00:00:00,NQR456W,BMT,05/28/2022,00:00:00,REGULAR,7717669,2709039
1,A002,R051,02-00-00,59 ST,2022-05-28 04:00:00,NQR456W,BMT,05/28/2022,04:00:00,REGULAR,7717677,2709047
2,A002,R051,02-00-00,59 ST,2022-05-28 08:00:00,NQR456W,BMT,05/28/2022,08:00:00,REGULAR,7717692,2709080
3,A002,R051,02-00-00,59 ST,2022-05-28 12:00:00,NQR456W,BMT,05/28/2022,12:00:00,REGULAR,7717724,2709155
4,A002,R051,02-00-00,59 ST,2022-05-28 16:00:00,NQR456W,BMT,05/28/2022,16:00:00,REGULAR,7717838,2709208
...,...,...,...,...,...,...,...,...,...,...,...,...
1057679,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2022-07-01 05:00:00,R,RIT,07/01/2022,05:00:00,REGULAR,0,643
1057680,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2022-07-01 09:00:00,R,RIT,07/01/2022,09:00:00,REGULAR,0,643
1057681,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2022-07-01 13:00:00,R,RIT,07/01/2022,13:00:00,REGULAR,0,646
1057682,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2022-07-01 17:00:00,R,RIT,07/01/2022,17:00:00,REGULAR,0,647
1057683,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2022-07-01 21:00:00,R,RIT,07/01/2022,21:00:00,REGULAR,0,648

In [38]:
df2019.drop(columns=['DATE', 'TIME', 'DESC', 'LINENAME', 'DIVISION'], inplace=True)
df2022.drop(columns=['DATE', 'TIME', 'DESC', 'LINENAME', 'DIVISION'], inplace=True)

In [40]:
df2019

,C/A,UNIT,SCP,STATION,DATETIME,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,2019-05-25 00:00:00,7071830,2396411
1,A002,R051,02-00-00,59 ST,2019-05-25 04:00:00,7071844,2396415
2,A002,R051,02-00-00,59 ST,2019-05-25 08:00:00,7071864,2396443
3,A002,R051,02-00-00,59 ST,2019-05-25 12:00:00,7071943,2396500
4,A002,R051,02-00-00,59 ST,2019-05-25 16:00:00,7072182,2396555
...,...,...,...,...,...,...,...
1027175,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2019-06-28 05:00:00,5554,379
1027176,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2019-06-28 09:00:00,5554,379
1027177,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2019-06-28 13:00:00,5554,379
1027178,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2019-06-28 17:00:00,5554,379
1027179,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2019-06-28 21:00:00,5554,379

In [39]:
df2022

,C/A,UNIT,SCP,STATION,DATETIME,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,2022-05-28 00:00:00,7717669,2709039
1,A002,R051,02-00-00,59 ST,2022-05-28 04:00:00,7717677,2709047
2,A002,R051,02-00-00,59 ST,2022-05-28 08:00:00,7717692,2709080
3,A002,R051,02-00-00,59 ST,2022-05-28 12:00:00,7717724,2709155
4,A002,R051,02-00-00,59 ST,2022-05-28 16:00:00,7717838,2709208
...,...,...,...,...,...,...,...
1057679,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2022-07-01 05:00:00,0,643
1057680,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2022-07-01 09:00:00,0,643
1057681,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2022-07-01 13:00:00,0,646
1057682,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2022-07-01 17:00:00,0,647
1057683,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2022-07-01 21:00:00,0,648

In [41]:
df2019['TURNSTILE'] = df2019['C/A'] + df2019['UNIT'] + df2019['SCP']

In [43]:
df2022['TURNSTILE'] = df2019['C/A'] + df2019['UNIT'] + df2019['SCP']

In [44]:
df2019.drop(columns=['C/A', 'UNIT', 'SCP'], inplace=True)
df2022.drop(columns=['C/A', 'UNIT', 'SCP'], inplace=True)

In [45]:
df2019

,STATION,DATETIME,ENTRIES,EXITS,TURNSTILE
0,59 ST,2019-05-25 00:00:00,7071830,2396411,A002R05102-00-00
1,59 ST,2019-05-25 04:00:00,7071844,2396415,A002R05102-00-00
2,59 ST,2019-05-25 08:00:00,7071864,2396443,A002R05102-00-00
3,59 ST,2019-05-25 12:00:00,7071943,2396500,A002R05102-00-00
4,59 ST,2019-05-25 16:00:00,7072182,2396555,A002R05102-00-00
...,...,...,...,...,...
1027175,RIT-ROOSEVELT,2019-06-28 05:00:00,5554,379,TRAM2R46900-05-01
1027176,RIT-ROOSEVELT,2019-06-28 09:00:00,5554,379,TRAM2R46900-05-01
1027177,RIT-ROOSEVELT,2019-06-28 13:00:00,5554,379,TRAM2R46900-05-01
1027178,RIT-ROOSEVELT,2019-06-28 17:00:00,5554,379,TRAM2R46900-05-01
1027179,RIT-ROOSEVELT,2019-06-28 21:00:00,5554,379,TRAM2R46900-05-01

In [47]:
df2022

               STATION            DATETIME  ENTRIES    EXITS         TURNSTILE
0                59 ST 2022-05-28 00:00:00  7717669  2709039  A002R05102-00-00
1                59 ST 2022-05-28 04:00:00  7717677  2709047  A002R05102-00-00
2                59 ST 2022-05-28 08:00:00  7717692  2709080  A002R05102-00-00
3                59 ST 2022-05-28 12:00:00  7717724  2709155  A002R05102-00-00
4                59 ST 2022-05-28 16:00:00  7717838  2709208  A002R05102-00-00
...                ...                 ...      ...      ...               ...
1057679  RIT-ROOSEVELT 2022-07-01 05:00:00        0      643               NaN
1057680  RIT-ROOSEVELT 2022-07-01 09:00:00        0      643               NaN
1057681  RIT-ROOSEVELT 2022-07-01 13:00:00        0      646               NaN
1057682  RIT-ROOSEVELT 2022-07-01 17:00:00        0      647               NaN
1057683  RIT-ROOSEVELT 2022-07-01 21:00:00        0      648               NaN

[1057684 rows x 5 columns]

In [48]:
df2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1027180 entries, 0 to 1027179
Data columns (total 5 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   STATION    1027180 non-null  object
 1   DATETIME   1027180 non-null  datetime64[ns]
 2   ENTRIES    1027180 non-null  int64
 3   EXITS      1027180 non-null  int64
 4   TURNSTILE  1027180 non-null  object
dtypes: datetime64[ns](1), int64(2), object(2)
memory usage: 39.2+ MB

In [46]:
df2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1057684 entries, 0 to 1057683
Data columns (total 5 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   STATION    1057684 non-null  object
 1   DATETIME   1057684 non-null  datetime64[ns]
 2   ENTRIES    1057684 non-null  int64
 3   EXITS      1057684 non-null  int64
 4   TURNSTILE  1027180 non-null  object
dtypes: datetime64[ns](1), int64(2), object(2)
memory usage: 40.3+ MB

In [53]:
df2019['TURNSTILE'].value_counts()

R229R14301-00-00     271
R229R14301-00-01     270
R229R14301-00-04     270
R229R14301-00-02     270
R229R14301-00-03     269
                    ...
PTH18R54901-01-08      1
PTH04R55100-01-08      1
PTH19R54902-02-08      1
PTH22R54000-06-01      1
PTH10R54700-00-08      1
Name: TURNSTILE, Length: 4892, dtype: int64

In [209]:
exits_diff2019 = df2019['EXITS'].diff()
entries_diff2019 = df2019['ENTRIES'].diff()
exits_diff2019 = pd.DataFrame(exits_diff2019)
entries_diff2019 = pd.DataFrame(entries_diff2019)

In [217]:
df2019['EXITS_DIFF'] = exits_diff2019
df2019['ENTRIES_DIFF'] = entries_diff2019

In [218]:
df2019

,STATION,DATETIME,ENTRIES,EXITS,TURNSTILE,EXITS_DIFF,ENTRIES_DIFF
0,59 ST,2019-05-25 00:00:00,7071830,2396411,A002R05102-00-00,NaN,NaN
1,59 ST,2019-05-25 04:00:00,7071844,2396415,A002R05102-00-00,4.0,14.0
2,59 ST,2019-05-25 08:00:00,7071864,2396443,A002R05102-00-00,28.0,20.0
3,59 ST,2019-05-25 12:00:00,7071943,2396500,A002R05102-00-00,57.0,79.0
4,59 ST,2019-05-25 16:00:00,7072182,2396555,A002R05102-00-00,55.0,239.0
...,...,...,...,...,...,...,...
1027175,RIT-ROOSEVELT,2019-06-28 05:00:00,5554,379,TRAM2R46900-05-01,0.0,0.0
1027176,RIT-ROOSEVELT,2019-06-28 09:00:00,5554,379,TRAM2R46900-05-01,0.0,0.0
1027177,RIT-ROOSEVELT,2019-06-28 13:00:00,5554,379,TRAM2R46900-05-01,0.0,0.0
1027178,RIT-ROOSEVELT,2019-06-28 17:00:00,5554,379,TRAM2R46900-05-01,0.0,0.0
1027179,RIT-ROOSEVELT,2019-06-28 21:00:00,5554,379,TRAM2R46900-05-01,0.0,0.0

In [224]:
df2019 = df2019.loc[df2019.EXITS_DIFF > 0]

In [225]:
df2019

,STATION,DATETIME,ENTRIES,EXITS,TURNSTILE,EXITS_DIFF,ENTRIES_DIFF
1,59 ST,2019-05-25 04:00:00,7071844,2396415,A002R05102-00-00,4.0,14.0
2,59 ST,2019-05-25 08:00:00,7071864,2396443,A002R05102-00-00,28.0,20.0
3,59 ST,2019-05-25 12:00:00,7071943,2396500,A002R05102-00-00,57.0,79.0
4,59 ST,2019-05-25 16:00:00,7072182,2396555,A002R05102-00-00,55.0,239.0
5,59 ST,2019-05-25 20:00:00,7072456,2396593,A002R05102-00-00,38.0,274.0
...,...,...,...,...,...,...,...
1027090,RIT-ROOSEVELT,2019-06-28 01:00:00,3060306,392420,TRAM2R46900-03-01,2.0,26.0
1027093,RIT-ROOSEVELT,2019-06-28 13:00:00,3060401,392425,TRAM2R46900-03-01,5.0,81.0
1027094,RIT-ROOSEVELT,2019-06-28 17:00:00,3060536,392432,TRAM2R46900-03-01,7.0,135.0
1027095,RIT-ROOSEVELT,2019-06-28 21:00:00,3060669,392436,TRAM2R46900-03-01,4.0,133.0
1027138,RIT-ROOSEVELT,2019-06-22 01:00:00,5554,379,TRAM2R46900-05-01,317.0,2637.0

In [226]:
df2019 = df2019.loc[df2019.ENTRIES_DIFF > 0]

In [227]:
df2019

,STATION,DATETIME,ENTRIES,EXITS,TURNSTILE,EXITS_DIFF,ENTRIES_DIFF
1,59 ST,2019-05-25 04:00:00,7071844,2396415,A002R05102-00-00,4.0,14.0
2,59 ST,2019-05-25 08:00:00,7071864,2396443,A002R05102-00-00,28.0,20.0
3,59 ST,2019-05-25 12:00:00,7071943,2396500,A002R05102-00-00,57.0,79.0
4,59 ST,2019-05-25 16:00:00,7072182,2396555,A002R05102-00-00,55.0,239.0
5,59 ST,2019-05-25 20:00:00,7072456,2396593,A002R05102-00-00,38.0,274.0
...,...,...,...,...,...,...,...
1027090,RIT-ROOSEVELT,2019-06-28 01:00:00,3060306,392420,TRAM2R46900-03-01,2.0,26.0
1027093,RIT-ROOSEVELT,2019-06-28 13:00:00,3060401,392425,TRAM2R46900-03-01,5.0,81.0
1027094,RIT-ROOSEVELT,2019-06-28 17:00:00,3060536,392432,TRAM2R46900-03-01,7.0,135.0
1027095,RIT-ROOSEVELT,2019-06-28 21:00:00,3060669,392436,TRAM2R46900-03-01,4.0,133.0
1027138,RIT-ROOSEVELT,2019-06-22 01:00:00,5554,379,TRAM2R46900-05-01,317.0,2637.0

In [ ]:
df2019.drop(columns=['ENTRIES', 'EXITS'], inplace=True)

In [229]:
df2019

,STATION,DATETIME,TURNSTILE,EXITS_DIFF,ENTRIES_DIFF
1,59 ST,2019-05-25 04:00:00,A002R05102-00-00,4.0,14.0
2,59 ST,2019-05-25 08:00:00,A002R05102-00-00,28.0,20.0
3,59 ST,2019-05-25 12:00:00,A002R05102-00-00,57.0,79.0
4,59 ST,2019-05-25 16:00:00,A002R05102-00-00,55.0,239.0
5,59 ST,2019-05-25 20:00:00,A002R05102-00-00,38.0,274.0
...,...,...,...,...,...
1027090,RIT-ROOSEVELT,2019-06-28 01:00:00,TRAM2R46900-03-01,2.0,26.0
1027093,RIT-ROOSEVELT,2019-06-28 13:00:00,TRAM2R46900-03-01,5.0,81.0
1027094,RIT-ROOSEVELT,2019-06-28 17:00:00,TRAM2R46900-03-01,7.0,135.0
1027095,RIT-ROOSEVELT,2019-06-28 21:00:00,TRAM2R46900-03-01,4.0,133.0
1027138,RIT-ROOSEVELT,2019-06-22 01:00:00,TRAM2R46900-05-01,317.0,2637.0

In [276]:
df2019['TOTAL_TRAFFIC'] = df2019['EXITS_DIFF'] + df2019['ENTRIES_DIFF']

/var/folders/pt/t0hqszgd5076m2mx3z6z7m7c0000gn/T/ipykernel_4408/1666768486.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2019['TOTAL_TRAFFIC'] = df2019['EXITS_DIFF'] + df2019['ENTRIES_DIFF']

In [277]:
df2019

,STATION,DATETIME,TURNSTILE,EXITS_DIFF,ENTRIES_DIFF,TOTAL_TRAFFIC
1,59 ST,2019-05-25 04:00:00,A002R05102-00-00,4.0,14.0,18.0
2,59 ST,2019-05-25 08:00:00,A002R05102-00-00,28.0,20.0,48.0
3,59 ST,2019-05-25 12:00:00,A002R05102-00-00,57.0,79.0,136.0
4,59 ST,2019-05-25 16:00:00,A002R05102-00-00,55.0,239.0,294.0
5,59 ST,2019-05-25 20:00:00,A002R05102-00-00,38.0,274.0,312.0
...,...,...,...,...,...,...
1027090,RIT-ROOSEVELT,2019-06-28 01:00:00,TRAM2R46900-03-01,2.0,26.0,28.0
1027093,RIT-ROOSEVELT,2019-06-28 13:00:00,TRAM2R46900-03-01,5.0,81.0,86.0
1027094,RIT-ROOSEVELT,2019-06-28 17:00:00,TRAM2R46900-03-01,7.0,135.0,142.0
1027095,RIT-ROOSEVELT,2019-06-28 21:00:00,TRAM2R46900-03-01,4.0,133.0,137.0
1027138,RIT-ROOSEVELT,2019-06-22 01:00:00,TRAM2R46900-05-01,317.0,2637.0,2954.0

In [295]:
df2019 = df2019.loc[df2019.EXITS_DIFF < 7200]

In [296]:
df2019 = df2019.loc[df2019.ENTRIES_DIFF < 7200]

In [297]:
df2019.STATION.value_counts()

34 ST-PENN STA     18690
FULTON ST          15233
23 ST              12404
GRD CNTRL-42 ST    11471
86 ST              11416
                   ...
CLEVELAND ST         378
RIT-MANHATTAN        339
BROAD CHANNEL        319
ORCHARD BEACH         46
ST. GEORGE            33
Name: STATION, Length: 377, dtype: int64

In [298]:
df2019.groupby(['STATION'])['TOTAL_TRAFFIC'].sum().sort_values(ascending=False)

STATION
34 ST-PENN STA     9523579.0
GRD CNTRL-42 ST    8128235.0
34 ST-HERALD SQ    6843970.0
TIMES SQ-42 ST     5902616.0
14 ST-UNION SQ     5737351.0
                     ...
BEACH 98 ST          40934.0
BEACH 105 ST         24131.0
BROAD CHANNEL         9248.0
ORCHARD BEACH         2455.0
ST. GEORGE            1172.0
Name: TOTAL_TRAFFIC, Length: 377, dtype: float64

In [299]:
df2019_34_stpennsta = df2019.loc[df2019.STATION == '34 ST-PENN STA']

In [302]:
df2019_GRD = df2019.loc[df2019.STATION == 'GRD CNTRL-42 ST']

In [300]:
df2019_34_stpennsta

,STATION,DATETIME,TURNSTILE,EXITS_DIFF,ENTRIES_DIFF,TOTAL_TRAFFIC
52523,34 ST-PENN STA,2019-05-25 04:00:00,N067R01200-00-00,11.0,5.0,16.0
52524,34 ST-PENN STA,2019-05-25 08:00:00,N067R01200-00-00,75.0,9.0,84.0
52525,34 ST-PENN STA,2019-05-25 12:00:00,N067R01200-00-00,173.0,74.0,247.0
52526,34 ST-PENN STA,2019-05-25 16:00:00,N067R01200-00-00,231.0,124.0,355.0
52527,34 ST-PENN STA,2019-05-25 20:00:00,N067R01200-00-00,189.0,72.0,261.0
...,...,...,...,...,...,...
958927,34 ST-PENN STA,2019-06-28 08:01:27,R142R29301-06-01,91.0,18.0,109.0
958928,34 ST-PENN STA,2019-06-28 10:00:00,R142R29301-06-01,275.0,74.0,349.0
958929,34 ST-PENN STA,2019-06-28 14:00:00,R142R29301-06-01,315.0,180.0,495.0
958930,34 ST-PENN STA,2019-06-28 18:00:00,R142R29301-06-01,360.0,220.0,580.0
958931,34 ST-PENN STA,2019-06-28 22:00:00,R142R29301-06-01,225.0,162.0,387.0

In [303]:
df2019_GRD

,STATION,DATETIME,TURNSTILE,EXITS_DIFF,ENTRIES_DIFF,TOTAL_TRAFFIC
156446,GRD CNTRL-42 ST,2019-05-25 05:00:00,R236R04500-00-00,2.0,1.0,3.0
156447,GRD CNTRL-42 ST,2019-05-25 09:00:00,R236R04500-00-00,145.0,26.0,171.0
156448,GRD CNTRL-42 ST,2019-05-25 13:00:00,R236R04500-00-00,399.0,84.0,483.0
156449,GRD CNTRL-42 ST,2019-05-25 17:00:00,R236R04500-00-00,397.0,155.0,552.0
156450,GRD CNTRL-42 ST,2019-05-25 21:00:00,R236R04500-00-00,327.0,114.0,441.0
...,...,...,...,...,...,...
982235,GRD CNTRL-42 ST,2019-06-27 21:00:00,R241AR04800-00-04,12.0,844.0,856.0
982238,GRD CNTRL-42 ST,2019-06-28 09:00:00,R241AR04800-00-04,4.0,54.0,58.0
982239,GRD CNTRL-42 ST,2019-06-28 13:00:00,R241AR04800-00-04,6.0,74.0,80.0
982240,GRD CNTRL-42 ST,2019-06-28 17:00:00,R241AR04800-00-04,4.0,316.0,320.0
982241,GRD CNTRL-42 ST,2019-06-28 21:00:00,R241AR04800-00-04,5.0,534.0,539.0

In [301]:
df2019_34_stpennsta.groupby(['DATETIME'])['TOTAL_TRAFFIC'].sum().sort_values(ascending=False)

DATETIME
2019-05-30 20:00:00    88956.0
2019-05-29 20:00:00    88919.0
2019-06-18 20:00:00    84953.0
2019-06-19 20:00:00    84676.0
2019-06-27 20:00:00    83750.0
                        ...
2019-06-03 07:57:15       16.0
2019-06-03 08:01:23       15.0
2019-05-31 11:17:40        6.0
2019-06-27 22:27:31        4.0
2019-06-27 22:28:52        4.0
Name: TOTAL_TRAFFIC, Length: 442, dtype: float64

In [304]:
df2019_GRD.groupby(['DATETIME'])['TOTAL_TRAFFIC'].sum().sort_values(ascending=False)

DATETIME
2019-06-18 21:00:00    61051.0
2019-05-30 21:00:00    59732.0
2019-05-29 21:00:00    59691.0
2019-06-10 21:00:00    54330.0
2019-06-19 21:00:00    53449.0
                        ...
2019-05-31 10:40:21       16.0
2019-06-21 08:45:25       15.0
2019-05-31 10:44:37       12.0
2019-06-21 09:44:02        9.0
2019-06-03 07:58:37        8.0
Name: TOTAL_TRAFFIC, Length: 461, dtype: float64