In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import date, time
from datetime import datetime as dt

In [2]:
df2022_1 = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_220604.txt')
df2022_2 = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_220611.txt')
df2022_3 = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_220618.txt')
df2022_4 = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_220625.txt')
df2022_5 = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_220702.txt')

In [7]:
df2019_1 = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_190601.txt')
df2019_2 = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_190608.txt')
df2019_3 = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_190615.txt')
df2019_4 = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_190622.txt')
df2019_5 = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_190629.txt')

In [8]:
df2022 = pd.concat([df2022_1 ,df2022_2, df2022_3, df2022_4, df2022_5], ignore_index=True)
df2019 = pd.concat([df2019_1 ,df2019_2, df2019_3, df2019_4, df2019_5], ignore_index=True)

In [9]:
df2022.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/28/2022,00:00:00,REGULAR,7717669,2709039
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/28/2022,04:00:00,REGULAR,7717677,2709047
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/28/2022,08:00:00,REGULAR,7717692,2709080
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/28/2022,12:00:00,REGULAR,7717724,2709155
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/28/2022,16:00:00,REGULAR,7717838,2709208

In [10]:
df2019.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/25/2019,00:00:00,REGULAR,7071830,2396411
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/25/2019,04:00:00,REGULAR,7071844,2396415
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/25/2019,08:00:00,REGULAR,7071864,2396443
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/25/2019,12:00:00,REGULAR,7071943,2396500
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/25/2019,16:00:00,REGULAR,7072182,2396555

We can see the rows and columns but interestingly date has been started on 28 May 2022

In [11]:
df2022.tail()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
1057679,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,07/01/2022,05:00:00,REGULAR,0,643
1057680,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,07/01/2022,09:00:00,REGULAR,0,643
1057681,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,07/01/2022,13:00:00,REGULAR,0,646
1057682,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,07/01/2022,17:00:00,REGULAR,0,647
1057683,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,07/01/2022,21:00:00,REGULAR,0,648

also, first of july is included to the dateframe, we should fix this date problem.

In [12]:
df2019.tail()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
1027175,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2019,05:00:00,REGULAR,5554,379
1027176,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2019,09:00:00,REGULAR,5554,379
1027177,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2019,13:00:00,REGULAR,5554,379
1027178,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2019,17:00:00,REGULAR,5554,379
1027179,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2019,21:00:00,REGULAR,5554,379

In [43]:
df2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1057684 entries, 0 to 1057683
Data columns (total 11 columns):
 #   Column                                                                Non-Null Count    Dtype
---  ------                                                                --------------    -----
 0   C/A                                                                   1057684 non-null  object
 1   UNIT                                                                  1057684 non-null  object
 2   SCP                                                                   1057684 non-null  object
 3   STATION                                                               1057684 non-null  object
 4   LINENAME                                                              1057684 non-null  object
 5   DIVISION                                                              1057684 non-null  object
 6   DATE                                                                  1057684 non-null  object
 7   TIME                                                                  1057684 non-null  object
 8   DESC                                                                  1057684 non-null  object
 9   ENTRIES                                                               1057684 non-null  int64
 10  EXITS                                                                 1057684 non-null  int64
dtypes: int64(2), object(9)
memory usage: 88.8+ MB

In [13]:
df2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1027180 entries, 0 to 1027179
Data columns (total 11 columns):
 #   Column                                                                Non-Null Count    Dtype
---  ------                                                                --------------    -----
 0   C/A                                                                   1027180 non-null  object
 1   UNIT                                                                  1027180 non-null  object
 2   SCP                                                                   1027180 non-null  object
 3   STATION                                                               1027180 non-null  object
 4   LINENAME                                                              1027180 non-null  object
 5   DIVISION                                                              1027180 non-null  object
 6   DATE                                                                  1027180 non-null  object
 7   TIME                                                                  1027180 non-null  object
 8   DESC                                                                  1027180 non-null  object
 9   ENTRIES                                                               1027180 non-null  int64
 10  EXITS                                                                 1027180 non-null  int64
dtypes: int64(2), object(9)
memory usage: 86.2+ MB

In [14]:
df2022.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [15]:
df2022.rename(columns={'EXITS                                                               ':'EXITS'}, inplace=True)

In [16]:
df2019.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [17]:
df2019.rename(columns={'EXITS                                                               ':'EXITS'}, inplace=True)

In [18]:
df2019.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES', 'EXITS'],
      dtype='object')

In [22]:
datetimes2019 = pd.to_datetime(df2019["DATE"] + " " + df2019["TIME"])
df2019.insert(loc = 4, column='DATETIME', value = datetimes2019)

In [25]:
datetimes2022 = pd.to_datetime(df2022["DATE"] + " " + df2022["TIME"])
df2022.insert(loc = 7,column = "DATETIME", value = datetimes2022)

In [23]:
df2019

,C/A,UNIT,SCP,STATION,DATETIME,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,2019-05-25 00:00:00,NQR456W,BMT,05/25/2019,00:00:00,REGULAR,7071830,2396411
1,A002,R051,02-00-00,59 ST,2019-05-25 04:00:00,NQR456W,BMT,05/25/2019,04:00:00,REGULAR,7071844,2396415
2,A002,R051,02-00-00,59 ST,2019-05-25 08:00:00,NQR456W,BMT,05/25/2019,08:00:00,REGULAR,7071864,2396443
3,A002,R051,02-00-00,59 ST,2019-05-25 12:00:00,NQR456W,BMT,05/25/2019,12:00:00,REGULAR,7071943,2396500
4,A002,R051,02-00-00,59 ST,2019-05-25 16:00:00,NQR456W,BMT,05/25/2019,16:00:00,REGULAR,7072182,2396555
...,...,...,...,...,...,...,...,...,...,...,...,...
1027175,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2019-06-28 05:00:00,R,RIT,06/28/2019,05:00:00,REGULAR,5554,379
1027176,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2019-06-28 09:00:00,R,RIT,06/28/2019,09:00:00,REGULAR,5554,379
1027177,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2019-06-28 13:00:00,R,RIT,06/28/2019,13:00:00,REGULAR,5554,379
1027178,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2019-06-28 17:00:00,R,RIT,06/28/2019,17:00:00,REGULAR,5554,379
1027179,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2019-06-28 21:00:00,R,RIT,06/28/2019,21:00:00,REGULAR,5554,379

In [26]:
df2022

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,DATETIME,datetime,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/28/2022,2022-05-28 00:00:00,2022-05-28 00:00:00,00:00:00,REGULAR,7717669,2709039
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/28/2022,2022-05-28 04:00:00,2022-05-28 04:00:00,04:00:00,REGULAR,7717677,2709047
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/28/2022,2022-05-28 08:00:00,2022-05-28 08:00:00,08:00:00,REGULAR,7717692,2709080
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/28/2022,2022-05-28 12:00:00,2022-05-28 12:00:00,12:00:00,REGULAR,7717724,2709155
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/28/2022,2022-05-28 16:00:00,2022-05-28 16:00:00,16:00:00,REGULAR,7717838,2709208
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1057679,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,07/01/2022,2022-07-01 05:00:00,2022-07-01 05:00:00,05:00:00,REGULAR,0,643
1057680,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,07/01/2022,2022-07-01 09:00:00,2022-07-01 09:00:00,09:00:00,REGULAR,0,643
1057681,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,07/01/2022,2022-07-01 13:00:00,2022-07-01 13:00:00,13:00:00,REGULAR,0,646
1057682,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,07/01/2022,2022-07-01 17:00:00,2022-07-01 17:00:00,17:00:00,REGULAR,0,647
1057683,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,07/01/2022,2022-07-01 21:00:00,2022-07-01 21:00:00,21:00:00,REGULAR,0,648

In [50]:
df2022.drop(columns=['DATE', 'TIME', ''], inplace=True)

In [51]:
df2022

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,datetime,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,2022-05-28 00:00:00,REGULAR,7717669,2709039
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,2022-05-28 04:00:00,REGULAR,7717677,2709047
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,2022-05-28 08:00:00,REGULAR,7717692,2709080
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,2022-05-28 12:00:00,REGULAR,7717724,2709155
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,2022-05-28 16:00:00,REGULAR,7717838,2709208
...,...,...,...,...,...,...,...,...,...,...
1057679,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2022-07-01 05:00:00,REGULAR,0,643
1057680,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2022-07-01 09:00:00,REGULAR,0,643
1057681,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2022-07-01 13:00:00,REGULAR,0,646
1057682,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2022-07-01 17:00:00,REGULAR,0,647
1057683,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2022-07-01 21:00:00,REGULAR,0,648

In [52]:
df2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1057684 entries, 0 to 1057683
Data columns (total 10 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   C/A       1057684 non-null  object
 1   UNIT      1057684 non-null  object
 2   SCP       1057684 non-null  object
 3   STATION   1057684 non-null  object
 4   LINENAME  1057684 non-null  object
 5   DIVISION  1057684 non-null  object
 6   datetime  1057684 non-null  datetime64[ns]
 7   DESC      1057684 non-null  object
 8   ENTRIES   1057684 non-null  int64
 9   EXITS     1057684 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(7)
memory usage: 80.7+ MB

In [57]:
df2022.DESC.value_counts()

REGULAR       1053568
RECOVR AUD       4116
Name: DESC, dtype: int64

In [59]:
df2022.drop(columns=['DESC'], inplace=True)

In [60]:
df2022.LINENAME.value_counts()

1        128461
6         60332
7         46882
F         38605
25        32787
          ...
2          1050
7EFMR      1050
ACG        1050
23ACE       840
S2345       836
Name: LINENAME, Length: 114, dtype: int64

In [61]:
df2022.DIVISION.value_counts()

IRT    385251
IND    365374
BMT    233039
PTH     65214
SRT      6694
RIT      2112
Name: DIVISION, dtype: int64

In [66]:
df2022.drop(columns=['C/A', 'UNIT', 'SCP', 'LINENAME', 'DIVISION'], inplace=True)

In [67]:
df2022

               STATION            datetime  ENTRIES    EXITS
0                59 ST 2022-05-28 00:00:00  7717669  2709039
1                59 ST 2022-05-28 04:00:00  7717677  2709047
2                59 ST 2022-05-28 08:00:00  7717692  2709080
3                59 ST 2022-05-28 12:00:00  7717724  2709155
4                59 ST 2022-05-28 16:00:00  7717838  2709208
...                ...                 ...      ...      ...
1057679  RIT-ROOSEVELT 2022-07-01 05:00:00        0      643
1057680  RIT-ROOSEVELT 2022-07-01 09:00:00        0      643
1057681  RIT-ROOSEVELT 2022-07-01 13:00:00        0      646
1057682  RIT-ROOSEVELT 2022-07-01 17:00:00        0      647
1057683  RIT-ROOSEVELT 2022-07-01 21:00:00        0      648

[1057684 rows x 4 columns]

In [68]:
df2022.STATION.value_counts()

34 ST-PENN STA     21447
GRD CNTRL-42 ST    20635
FULTON ST          20153
23 ST              15348
86 ST              13650
                   ...
PRESIDENT ST         626
NORWOOD AV           624
CHAUNCEY ST          562
SUTTER AV            422
CLEVELAND ST         420
Name: STATION, Length: 379, dtype: int64

In [69]:
df2022.groupby(['datetime'], )

In [75]:
df2022[(df2022['STATION'] = ['34 ST-PENN STA', 'GRD CNTRL-42 ST'])]

SyntaxError: invalid syntax (1499209144.py, line 1)